<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duan1_baove" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuAn1_BaoVe" >

        <activity android:name=".activityload.LoadHocVien_MainActivity"
            android:exported="false"/>
        <activity
            android:name=".HocVien_MainActivity"
            android:exported="false" />
        <activity
            android:name=".activityload.LoadAdmin_MainActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginHocVien_MainActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginAdmin_MainActivity"
            android:exported="false" />
        <activity
            android:name=".login.Screen_MainActivity"
            android:exported="false" />
        <activity
            android:name=".activityload.Splash_MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Admin_MainActivity"
            android:exported="true">

        </activity>
        <service android:name=".service.LoginService"
            android:enabled="true"
            android:exported="true"/>
        <service android:name=".service.SignInServiceHocVien"
            android:enabled="true"
            android:exported="true"/>
        <service android:name=".service.LoginServiceHocVien"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>